
# Byte-compiled / cache
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environment
.venv/

# VS Code
.vscode/

# Project package
*.egg-info/

# Data
data/datasets/unido
data/datasets/pontuais
data/dataframes

tests/dados_gerados_testes
